@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Reem+Kufi+Ink&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}
body {
    font-family: 'Reem Kufi Ink', sans-serif;
    font-weight: 300;
    color: #3a3a3a;
}
/* logo */
h1 {
    font-family: 'Playfair Display', serif;
    letter-spacing: 4px;
    color: #252525;
}

#logo {
    float: left;
    font-size: 280%;
    margin-left: 20px;
}

/* navigation links */

#nav {
    font-size: 110%;
    letter-spacing: 4px;
}

#nav, #logo {
    line-height: 75px;
}

#nav li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#nav a {
    text-decoration: none;
    color: inherit;
}

#nav a:hover {
    border-bottom: 1px solid #3a3a3a;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

/* hero image and cover text */

#hero-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;
    position: relative;
   
} 
#hero-outer img{
    height: 600px;
    width: 100%;     
}
#cover-text{
    letter-spacing: 4px;
    color: #252525;
    font-size: 150%;
    width: 350px;
    height: 100px;
    text-align: center;
    padding-top: 20px;
    padding-left: 10px;
    background-color: rgba(235, 118, 116, 0.7);
    bottom: 30px;
    right: 100px;
    position: absolute;
}

/* gallery */
#gallery{
    height:1800px;
}
#gallery-heading {
    text-align: center;
    margin: 20px 0;
    font-size: 280%;
}
#gallery-summary {
    text-align:center;
    letter-spacing: 2px;
    width:70%;
    height:80px;
    margin:0 auto;
    
}
/* arranging gallery photos */

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
    margin-left:20%;
    
  }
  
  /* Create four equal columns that sits next to each other */
  .column {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
  }
  
  .column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
  }
  

/* form section */
 

#message{
    height:100px;
}

.signup-form{
    margin: 100px 10% 0 0;
    color:#252525;
    background-color: rgba(235, 118, 116, 0.7);
    max-width:400px;
    position: absolute;
    left:10%;
    padding:30px;
}
.signup-form > h2 {
    color:#252525;
    margin-bottom: 20px;
}
.text-input{
    background:transparent;
    color:#3a3a3a;
    width:100%;
    height:25px;
    margin:5px 0 20px;
    border:1px solid #3a3a3a;
    border-radius:2px;
    
}

.text-input:hover{
    border-color:#f5f0f0;
}
.join-button{
    margin-top:20px;
    border-radius:2px;
    padding:15px 32px 15px 32px;
    text-align:center;
    font-size:100%;
    background-color:#f16c6b;
    color:#fafafa;
    display:block;
}
.join-button:hover{
    
    background-color:#fafafa;
    color:#f16c6b;
}
#contact {
    background-image: url('../images/photography.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width: 100%;
    overflow: hidden;
    height:700px;
}
/* footer */


#copyright{
    margin-top: auto;
    text-align: center;
    font-size: 90%;
    padding:3px;
    background-color: #faefef;

}
.social-networks {
    text-align: center;
    background-color: #faefef;


}

.social-networks > li {
    display: inline;
}

.social-networks i {
    font-size: 160%;
    margin: 1%;
    padding: 2%;
    color: #3a3a3a;
}
/* Media queries */

/* For larger to medium screens size from 1200px wide and down */
@media screen and (max-width:1200px) {
#gallery{
    width:65%;
    height:800px;
    margin:0 auto;
}
#gallery-heading {
    margin:0 auto;
    padding:30px 0;
}
#gallery-summary{
    padding:10px 0;
}
}

/* For medium screen sizes from 1000px wide and down */

@media screen and (max-width: 1000px) {

    #nav {
        clear: left;
        float: left;
        margin-left: 30px;
        margin-bottom: 20px;
        line-height: 25px;
    }
    #cover-text {
        left: 0;
    }

    #gallery {
        width: 90%;
        height: auto;
        margin: 0 auto;
    }

}

  /* Responsive layout - makes a two column-layout instead of four columns */
  @media screen and (max-width: 800px) {
    .column {
      flex: 50%;
      max-width: 50%;
    }
  }
  #gallery{
    height:1200px;
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column {
      flex: 100%;
      max-width: 100%;
    }
  }