@import url('https://fonts.googleapis.com/css2?family=Reem+Kufi+Ink&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}
body {
    font-family: 'Reem Kufi Ink', sans-serif;
    font-weight: 300;
    color: #3a3a3a;
}
h1 {
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #252525;
}

#logo {
    float: left;
    font-size: 280%;
    margin-left: 30px;
}

/* navigation links */

#nav {
    font-size: 110%;
    letter-spacing: 4px;
}

#nav, #logo {
    line-height: 75px;
}

#nav li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#nav a {
    text-decoration: none;
    color: inherit;
}

#nav a:hover {
    border-bottom: 1px solid #3a3a3a;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

/* hero image and cover text */

#hero-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;
    position: relative;
} 
#hero-outer img{
    height: 600px;
    width: 100%;
    
    
}
#cover-text{
    letter-spacing: 4px;
    color: #252525;
    font-size: 150%;
    width: 250px;
    height: 200px;

    padding-top: 40px;
    padding-left: 10px;

    background-color: rgba(241, 109, 107, .7);

    bottom: 30px;
    right: 150px;

    position: absolute;
}
/* detail-section */
#detail-section{
    height:600px;
}
#welcome {
    text-align: center;
    margin: 20px 0;
    font-size: 280%;
}
#summary {
    text-align:center;
    letter-spacing: 2px;
    width:70%;
    height:80px;
    margin-left:250px;
    
}
/* gallery */

#gallery {
    clear: both;
    line-height: 0;
    column-count: 3;
    column-gap: 0;
}

#gallery > img {
    width: 100%;
    border-color: antiquewhite;
    border-radius: 2px;
}